/* Display.css */
.display-container {
  background-image: url('../assets/book4.jpg');
  background-size: cover;
  background-position: center;
  min-height: 80vh; /* Full height for the page */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-attachment: fixed;
  animation: fadeInBackground 2s ease-in-out;
  position: relative;
  backdrop-filter: blur(15px); /* Apply the background blur effect */
}

.display-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5);  */
  z-index: -1;
}

.content-container {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 1200px; /* Limit max width */
  overflow: hidden;
  animation: slideUp 1.5s ease-in-out;
}

h1 {
  color: #4c51af;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  animation: fadeInTitle 2s ease-in-out;
}

.table-container {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  overflow-x: auto;
  animation: zoomIn 1.5s ease-in-out;
}

table {
  width: 100%;
  border-collapse: collapse;
  height: auto;
  animation: fadeInTable 1.5s ease-in-out;
}

th, td {
  padding: 20px 25px; /* Adjusted padding */
  text-align: left;
  font-size: 1.1rem; /* Slightly increased font size */
  border: 1px solid #ddd;
}

th {
  background-color: #4c51af;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

thead th:hover {
  background-color: #45a049;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:hover {
  background-color: #d4f1d4;
  /* transform: scale(1.02); */
  /* transition: background-color 0.3s ease, transform 0.3s ease; */
}

thead th, tr:hover td {
  box-shadow: inset 0 -2px 0 #45a049;
}

/* Animations */
/* @keyframes fadeInBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* @keyframes fadeInTitle {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */
/* 
@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
} */

/* @keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
} */

@keyframes fadeInTable {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .content-container {
    padding: 20px;
  }

  th, td {
    padding: 15px 20px; /* Adjusted padding for small screens */
  }

  h1 {
    font-size: 2.5rem;
  }
}
